body {
  font-family: 'Inter', sans-serif;
  background-color: chartreuse;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'sidebar main main main main content1 content1'
    'sidebar main main main main content1 content1'
    'sidebar main main main main content2 content2'
    'sidebar main main main main content2 content2'
    'sidebar mid-nav mid-nav mid-nav mid-nav mid-nav mid-nav'
    'sidebar content3 content3 content4 content4 content5 content5'
    'sidebar content3 content3 content4 content4 content5 content5'
    'sidebar content3 content3 content4 content4 content5 content5';

  grid-gap: 0.6rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

main {
  background: black;
  grid-area: main;
  background-image: url(/9a64720c-ca4b-453e-a477-45c07ff546d7-data.jpg);
  background-size: cover;
  background-position: center;
}

main h1 {
  margin-left: 0.6rem;
  margin-top: 20rem;
  color: white;
  display: flex;
  align-self: flex-end;
}

main p {
  color: white;
  margin-right: 15rem;
  max-width: 40rem;
}
#sidebar {
  background: rgb(60, 37, 21);
  grid-area: sidebar;
  padding-top: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'title'
    'side-nav'
    'sign-up'
    'sign-in'
    'nav-footer';
}

#sidebar ul {
  color: white;
  list-style: none;
  text-align: center;
}

#sidebar li {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 2.2rem;
}

h1 {
  color: white;
}

#sign-up {
  align-items: center;
  display: block;
  border-color: white;
  background-color: rgb(60, 37, 21);
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

#sign-up:hover {
  border-color: white;
  border-radius: 12px;
  background-color: yellow;
  color: black;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

#sign-in {
  align-items: center;
  border-style: none;
  background-color: rgb(60, 37, 21);
  color: white;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

#sign-in:hover {
  align-items: center;
  border-style: none;
  background-color: rgb(60, 37, 21);
  color: yellow;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

#sidebar span {
  color: white;
  bottom: 0%;
  height: -3rem;
  margin: 1rem;
}

#content1 {
  background: #6fffd2;
  background-image: url(/03-jpg-data.jpg);
  grid-area: content1;
  background-size: cover;
}

#content2 {
  /* background: #64ffda; */
  background-image: url(/mr-porter-super-mart-streetwear-exclusives.jpeg);
  background-size: cover;
  grid-area: content2;
  padding-top: var(--main-padding);
}

#content3 {
  grid-area: content3;
  padding-top: var(--main-padding);
  object-fit: contain;
}

#content3 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#content4 {
  grid-area: content4;
  padding-top: var(--main-padding);
}

#content4 p {
  overflow: hidden;
}

#content4 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#content5 {
  grid-area: content5;
  padding-top: var(--main-padding);
}

#content5 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#mid-nav {
  border-style: solid;
  border-width: 2px 0px;
  background: rgb(255, 255, 255);
  grid-area: mid-nav;
  padding-top: var(--main-padding);
}

#mid-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#mid-nav li {
  display: inline;
  margin: 2.5rem;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

p {
  color: black;
}

@media all and (max-width: 600px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'sidebar'
      'main'
      'content1'
      'content2'
      'content3'
      'content4'
      'content5';
    overflow: scroll;
  }

  body {
    background-color: wheat;
  }

  h1 {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin-left: 6.5rem;
  }
  #sign-in {
    display: flex;
    align-items: flex-end;
  }
  #sidebar {
    display: flex;
  }

  #sidebar ul {
    display: none;
  }

  #sidebar span {
    display: none;
  }

  #sign-up {
    display: none;
  }

  main p {
    display: none;
  }

  #mid-nav {
    display: none;
  }
}
